    * body {
        background-position: center;
        background-color: white;
        width: 100%;
        margin-left: 15opx;
        height: auto;
        display: inline-block;
    }
    /* copyright- This page was developed by yugendhar*/
    
    nav {
        width: 100%;
        height: 30px;
        background-color: gray;
        padding: 0px;
        z-index: 1;
        float: left;
        line-height: 1.6px;
        display: inline;
    }
    
    .container1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 50px;
    }
    
    .container2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 50px;
        padding-bottom: 35px;
    }
    
    .box2 {
        background-color: white;
        box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.15);
        width: 10%;
        height: 100px;
        margin: 20px;
    }
    
    .box2:hover {
        background-color: gray;
    }
    
    nav .logo {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }
    
    nav .logo p {
        padding-left: 1%;
        float: left;
        color: #fff;
        text-transform: uppercase;
    }
    
    nav ul {
        float: right;
    }
    
    nav ul li {
        display: inline-block;
        list-style: none;
    }
    
    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
        padding: 0px 32px;
    }
    
    nav ul li a:hover {
        color: grey;
    }
    
    nav ul li a:active {
        color: yellow;
    }
    
    .box2 a img p {
        text-decoration: none
    }
    
    .social-links {
        padding: 20px;
        margin-top: auto;
    }
    
    .social-links ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    
    .btn-social {
        padding: 9px 25px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    
    .bg-facebook {
        background-color: white;
        color: #505d61;
    }
    
    .bg-youtube {
        background-color: white;
        color: #505d61;
    }
    
    .bg-instagram {
        background-color: white;
        color: #505d61;
    }
    
    .dark-mode {
        background-color: black;
        color: white;
    }
    /* copyright- This page was developed by yugendhar*/